@import url('https://fonts.googleapis.com/css2?family=Alice&family=Fauna+One&family=Montserrat:wght@300;400&family=Playfair+Display:wght@600&family=Sacramento&family=Gentium+Basic&family=Vollkorn:wght@700&display=swap');
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
*,*::after,*::before {
	box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* css reset ends, begins setting up basic styling for h1s etc*/
body {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #ffffff;
    line-height: 2.2rem;
}
img {
    width: 100%;
    display: block;
}

h1 {
    font-size: 2.5rem;
    line-height: 4rem;
    font-family: 'Playfair Display', serif;
    font-weight: 300;
}

h2 {
    font-size: 2rem;
    font-family: 'Playfair Display', serif;
}

h3 {
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
}

h4 {
    font-size: 1.25rem;
    font-family: 'Montserrat', sans-serif;
}

p {
    font-size: 1.2rem;
}

em {
    font-weight: bold;
}

/*I'll be using a combination of Bootstrap and CSS to style this site */
#navbar.navbar {
    background-color: #493ad3;
    font-family: 'Fauna One', serif;
    font-size: 1.3rem;
}

.navbar a {
    margin-left: 1rem;
    font-size: 1.5rem;
}

a:link,
a:visited,
a:hover,
a:active{
    text-decoration: none;
    color: black;
}

footer {
    background-color: #493ad3;
    font-family: 'Playfair Display', serif;
    font-size: 2rem;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

footer a {
    width: 50px;
}

footer a:nth-child(1) {
    align-self: flex-start;
}

footer img {
    width: 100%;
}

/* universal stylings done, now onto the landing page */
.landing-main {
    background-image: url("../images/Untitled-1.png");
    background-size: cover;
    margin: auto;
    height: 100vh;
}
.landing-header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 0.2fr 1fr;
    padding: 2rem 1.7rem;
}

.landing-banner {
    grid-column: 1 / 3;
    display: grid;
    grid-template-columns: 1fr 1.25fr;
}

.landing-banner h1 {
    font-family: 'Playfair Display', serif;
    grid-column: 2 / 3;
    align-self: center;
}

.landing-banner h1 em {
    color: #493ad3;
}

.landing-header h3 {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    text-align: center;
    font-size: 1.75rem;
    font-family: 'Alice', serif;
}

.landing-banner img {
    max-width: 125px;
    align-self: center;
    margin: auto;
}


.landing-nav {
    margin: auto;
    grid-row: 3 / 4;
    grid-column: 2 / 3;
}

.landing-nav li  {
    padding: 0.5rem 0rem 0.5rem 3rem;
}

.landing-nav li a {
    font-family: 'Fauna One', serif;
    background-color: #493ad3;
    color: white;
    padding: 1.1rem;
    border-radius: 4px;
    font-size: 1.2rem;
    display: inline-block;
    width: 150px;
    text-align: center;
    box-shadow: 0px 8px 10px rgb(119, 119, 119);
}

.landing-nav li a:hover {
    animation-name: landingbuttoncolor;
    animation-duration: 0.3s;
    animation-delay: 0s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

/* styling the about page for mobile */

.about-title {
    text-align: center;
    padding: 1.3rem;
}

.about-body {
    display: flex;
    flex-direction: column-reverse;
}

.about-body p {
    margin: 0.5rem 2rem auto;
}

.about-image {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.about-image img {
    border: 5px solid #493ad3;
    border-radius: 50%;
    width: 350px;
    height: 350px;
    object-fit: cover;
    object-position: 55% 50%;
}

/* styling the portfolio for mobile */
.portfolio {
    margin: 1rem 2rem;
}

.portfolio h1 {
    text-align: center;
    margin-bottom: 1rem;
}

.portfolio h2 {
    text-align: center;
    margin: 1.5rem 0;
}

.portfolio-links {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 10px;
    padding: 2rem 0rem;
}

.portfolio-links a {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.portfolio-links a:hover {
    animation: buttongrow 0.3s ease-in 0s 1 forwards;
}

.portfolio-links img {
    width: 30%;
    max-width: 115px;
}

.banner {
    font-size: 2rem;
    text-align: center;
    padding: 2rem 0rem;
    margin: 3rem 0rem 1rem 0rem;
    color: white;
    background-color: #493ad3;
}

.external-link {
    margin: 2rem 0rem 2rem 0rem;
    display: flex;
    justify-content: center;
}

.external-link a {
    display: inline-block;
    padding: 1rem;
    background-color: #493ad3;
    color: white;
    border-radius: 5px;
    box-shadow: 0px 8px 10px rgb(119, 119, 119);
}

.external-link a:hover {
    animation-name: landingbuttoncolor;
    animation-duration: 0.3s;
    animation-delay: 0s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.creative-kosher p {
    margin-bottom: 1.5rem;
}

#graphics-carousel {
    max-width: 400px;
    margin: auto;
}

.videography-video {
    display: flex;
    flex-direction: column;
    align-items: center;   
}

.videography-video iframe {
    width: 100%;
    height: 250px;
    margin-bottom: 1rem;
}

.user-experience-images {
    display: flex;
    flex-direction: row;
}

.user-experience-images img {
    width: 50%;
}

/* styling the contact page for mobile */

.main-contact {
    margin: 1rem 2rem auto;
}

.main-contact h1 {
    text-align: center;
    padding: 1rem;
}

.main-contact p {
    margin: 1rem 0rem;
}

form button {
    width: 100%;
}

/* keyframes*/

@keyframes buttoncolor {
    0% {
        background-color: #4B5358;
    }

    100% {
        background-color: #104547;
    }
}

@keyframes landingbuttoncolor {
    0% {
        background-color: #493ad3;
        color: white;
    }

    100% {
        background-color: #373d41;
        color: white;
    }
}

@keyframes buttongrow {
    0% {
        transform: scale(1.1);
    }

    25% {
        transform: scale(1.15);
    }

    50% {
        transform: scale(1.2);
    }

    75% {
        transform: scale(1.25);
    }

    100% {
        transform: scale(1.3);
    }
}

/* first media query for tablet view */

@media(min-width: 768px) {
    /* styling the landing page for tablet */
    
    footer p {
        font-size: 1.5rem;
    }

    .landing-main {
        background-image: url("../images/background-image-tablet.png");
        height: 100vh;
    }

    .landing-banner h1 {
        font-size: 4rem;
    }

    /* styling the about page for tablet */

    .about-main {
        margin: 2rem auto;
    }

    .about-text {
        display: flex;
        flex-direction: column;
    }

    .about-image {
        grid-column: 2 / 3;
        margin: 2rem;
    }

    .about-text p:nth-child(1) {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    .about-text p:nth-child(2) {
        grid-row: 2 / 4;
    }

    .about-text p:nth-child(3) {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }

    /* styling the portfolio page for tablet */
    .portfolio-intro h1 {
        padding-top: 1rem;
    }

    .portfolio-intro p {
        text-align: center;
    }

    .portfolio {
        margin: 4rem auto;
        width: 768px;
    }

    .portfolio-links {
        grid-template-columns: repeat(3, 1fr);
        padding-bottom: 0;
        margin-bottom: 0;
        row-gap: 10%;
    }

    .portfolio h2 {
        margin-top: 3rem;
    }

    #photography-carousel {
        max-width: 650px;
        margin: auto;
        padding-top: 2rem;;
    }
    /* web design section */

    .arc-example {
        margin-top: 2rem;
    }

    /* styling the digital graphics section for tablet */



    /* stlying the movie poster section for tablet */

    .poster-grid img {
        width: 60%;
        margin: auto;
    }

    /* photogrpahy and video section for tablet*/


    .videography-video {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0.5fr 1fr;
        grid-gap: 1rem;
    }

    .videography-video p {
        grid-column: 1 / 3;
    }

    .videography-video iframe {
        grid-row: 2 / 3;
    }

    /* ux section for tablet */

    .user-experience-images {
        width: 50%;
        margin: auto;
        padding-top: 2rem;
    }

    /* contact form for tablet */
    .main-contact {
        margin: 3rem auto;
        width: 768px;
    }

    .main-contact p {
        padding-bottom: 2rem;
    }

    #contact-form form {

    }

    #contact-form form .form-group:nth-child(3) {
        
    }

    #contact-form form .form-group:nth-child(4) {
        
    }

    form button {
        
    }

    .resume {
        padding: 1rem 0;
    }
}

/* second media query for desktop */

@media(min-width: 996px) {
    /* landing page for desktop */

    footer p {
        font-size: 1.75rem;
    }

    .landing-main {
        background-image: url("../images/background-image.jpg");
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr 0.6fr;
    }

    .landing-header {
        grid-column: 2 / 3;
        display: grid;
        grid-template-columns: repeat(3, 1fr)
    }

    .landing-banner {
        grid-template-columns: 0.5fr 1fr;
    }

    .landing-banner h1 {
        font-size: 5rem;
    }
    
    .landing-nav ul {
        display: flex;
        flex-direction: row;
        align-content: space-evenly;
    }

    .landing-nav ul li {
        align-self: center;
        padding-right: 3rem;

    }

    .landing-nav ul li a {
        padding: 1.1rem 2rem 1.1rem 2rem;
    }

    /* about page for desktop */

    .about-main {
        margin: 5rem;
    }

    .about-body {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    /* portfolio for desktop */

    .portfolio {
        margin: 5rem auto;
        width: 992px;
    }

    .portfolio-intro p {
        margin: 1.5rem 0 1.5rem 0;
    }

    .user-experience-main {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .user-experience-images img {
        width: 100%;
    }

    .bootstrap-content {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .bootstrap-content .external-link {
        align-self: center;
        justify-self: center;
    }


    /* digital graphics for desktop */
    .app-icon {
        margin-bottom: 5rem;
    }

    .poster-grid img:hover {
        animation: buttongrow 0.3s ease-in 0s 1 forwards;
    }

    .movie-poster h2 {
        text-align: left;
    }

    .poster-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    /* photography for desktop */
    #photography-carousel {
        max-width: 100%;
    }
   

    /* ux section for desktop */


    /* contact page for desktop */

    .main-contact {
        margin: 5rem auto;
        width: 992px;
    }

    form button {
        
    }
}