@import url('https://fonts.googleapis.com/css2?family=Lato&family=Merriweather&display=swap');

/* adding the box-model to all elements */
*,*::after,*::before {
	box-sizing: border-box;
}

/* css reset */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* reset ends, starting to style the common elements across all pages */

body {
	font-family: 'Lato', sans-serif;
	margin: auto;
    /* font-family: 'Merriweather', serif; */
}

img {
	width: 100%;
}

h1.big-david {
	font-size: 2.5rem;
}

h1 {
	font-size: 2.2rem;
	text-align: center;
	font-family: 'Merriweather', serif;
}

h2 {
	font-size: 1.8rem;
}

.main-h2 {
	margin: 1.25rem 0rem 0.5rem 0rem;
	color: #b9519e;
}

p {
	font-size: 1.2rem;
}

em {
	color: #b9519e;
	font-weight: bold;
}

.margin {
	margin: 0.5rem
}

/* styling all the buttons */

.button a {
	display: inline-block;
	background-color: white;
	border: 1px;
	border-style: solid;
	border-color: #b9519e;
    color: #b9519e;
    padding: 0.2rem;
    font-size: 18px;
    width: 200px;
	text-align: center;
	margin: auto;
}

.button a:hover {
	color: white;
	background-color: #b9519e;
	text-decoration: none;
	animation-name: buttoncolor;
    animation-duration: 0.5s;
    animation-delay: 0s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.main-button a {
	display: block;
	margin: 1rem auto;
	padding: 0.2rem;
	width: 150px;
}

.long-button a {
	display: block;
	background-color: white;
	border: 1px;
	border-style: solid;
	border-color: #b9519e;
    color: #b9519e;
    padding: 0.4rem;
    font-size: 18px;
    width: 275px;
	text-align: center;
	margin: 1rem auto;
}

.long-button a:hover {
	color: white;
	background-color: #b9519e;
	text-decoration: none;
	animation-name: buttoncolor;
    animation-duration: 0.5s;
    animation-delay: 0s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

/* styling the nav bar to override some bootstrap styles */

.large-social {
	display: none;
}

.pink-stripe {
	background-color: #b9519e;
	height: 13px;
	display: none;
}

#navbar.navbar {
	background-color: #050404;
	color: white;
	font-size: 1.3rem;
	font-family: 'Lato', sans-serif;
	font-weight: bold;
}

#navbar a.nav-link {
	color: white;
}

#navbar a.nav-link.active {
	color: #6c757d;
}

#navbar a.nav-link:hover {
	color: #b9519e;
}

.navbar-brand {
	margin: auto;
	position: relative;
	left: 3%;
}


a.telephone-nav-link {
	display: none;
}

a.telephone-nav-link:hover {
	color: rgba(255,255,255,.75);
}

.nav-social {
	display: none;
}

/* some common elements across all pages */
.vaad-certificate {
	background-color: #b9519e;
	color: white;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: center;
	padding: 0.5rem 0rem 0.5rem 1.5rem;
}

.vaad-certificate img {
	width: 50%;
}

.vaad-text p:nth-child(2) {
	font-weight: bold;
	font-size: 1.35rem;
}

.vaad-logo {
	display: flex;
	flex-direction: row;
	justify-content: center;
	
}

.heading-block {
	text-align: center;
	padding: 1.5rem;
	margin: -4.5rem 1.5rem 1.5rem 1.5rem;
	background-color: #b9519e;
	color: white;
	position: relative;
	max-width: 500px;
}

.heading-block-flex {
	display: flex;
	align-items: center;
	justify-content: center;
}

.heading-block h2 {
	font-size: 1.4rem;
	margin-top: 0.7rem;
	font-weight: bold;
}

.section {
	margin: 1rem 1rem auto;
	line-height: 2rem;
}

.section h1 {
	color: #b9519e;
	margin: 2rem 0rem 1rem 0rem;
}

.section h2 {
	font-family: 'Merriweather', serif;
	text-align: center;
}

.section p {
	margin-bottom: 1rem;
}

.banner {
	text-align: center;
	padding: 1.5rem;
	background-color: #b9519e;
	color: white;
	font-family: 'Merriweather', serif;
}

.banner h2 {
	font-size: 1.8rem;
}


/* styling the footer for mobile */
.icons {
	background-color: #050404;
	padding: 0.5rem 1rem 0.5rem 1rem;
}

.icons img {
	width: 2.5rem;
	margin-right: 1rem;
}

.icons a {
	display: flex;
	flex-direction: row;
	align-items: center;
	text-decoration: none;
	color: white;
	font-size: 1.4rem;
	font-weight: bold;
	padding: 0.5rem 0rem 0.5rem 0rem;
}

.icons a:hover {
	color: #b9519e;
}

.icons-social {
	display: none;
}

.copyright {
	padding: 0.5rem 1rem 0.5rem 1rem;
	background-color: #b9519e;
	color: white;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.copyright p {
	font-size: 1.2rem;
	text-align: left;
}

.copyright-social {
	display: flex;
	flex-direction: row;
	align-items: flex-end;
}

.copyright img {
	width: 3rem;
	padding: 0.2rem;
}
/* styling the carousels for mobile */

#carouselExampleIndicators img {
	max-height: 300px;
	object-fit: cover;
}

#contact-carousel img {
	max-height: 350px;
	object-fit: cover;
}

li.bg-dark {
	border-radius: 50%;
	width: 12px;
	height: 12px;
}

/* styling the home page for mobile */

.home-banner {
	display: flex;
	flex-direction: column-reverse;
	background-color: #050404;
	padding-bottom: 1.75rem;
	padding-top: 1rem;
}

.home-banner-image {
	width: 85%;
	max-width: 380px;
	margin: auto;
	position: relative;
	top: 2px;
}

.home-banner-text {
	background-color: white;
	margin: 0rem 1rem 1rem 1rem;
	margin: auto;
	padding: 1rem 1rem 1.2rem 1rem;
	max-width: 400px;
	line-height: 1.6rem;
}

.home-banner-text h1 {
	margin: 0.75rem 0 0.9rem 0;
	text-align: left;
}

.home-banner-text h2 {
	margin-bottom: 0.8rem;
	font-size: 1.75rem;
}

.home-banner-text p {
	margin-bottom: 1rem;
}

/* styling the home card sections for mobile */

.home-section {
	width: 400px;
	margin: auto;
	margin-top: 1.75rem;
	text-align: center;
}

.home-section h2 {
	color: #b9519e;
	margin: 1rem 0rem 0.5rem 0rem;
}

.home-section img {
	height: 300px;
	width: 400px;
	object-fit: cover;
	margin: auto;
}

.venues-banner {
	margin-top: 1.75rem;
}

/* styling the ten to ten banner for mobile */

.ten-to-ten {
	background-image: url(../images/img-home/10to10mobile.png);
	background-size: cover;
	height: 150px;
	color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 1rem;
}

.ten-to-ten h2 {
	font-family: 'Merriweather', serif;
	font-style: italic;
	font-size: 1.7rem;
	margin-bottom: 1rem;
}

.ten-to-ten p {
	font-weight: bold;
	font-size: 1rem;
}

/* styling the testimonial section for mobile */

.testamonials-banner {
	margin-bottom: 1.75rem;
}

.testamonials {
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.testamonial {
	margin: 0rem 2rem 2rem 2rem;
	max-width: 450px;
}

.testamonial p {
	margin-bottom: 0.4rem;
}

.testamonial3 {
	margin-bottom: 2rem;
}

.quotes {
	max-width: 10%;
	display: block;
	margin: auto;


}

/* styling the catering page for mobile */

.catering-content h2 {
	margin: 1.25rem 0rem 0.5rem 0rem;
	color: #b9519e;
}

.catering-content img {
	max-width: 490px;
	display: block;
	margin: auto;
}

.catering-content .button {
	display: flex;
	align-items: center;
	margin-bottom: 1.5rem;
}

/* styling the party design page for mobile */

.party-content img {
	max-width: 490px;
	display: block;
	margin: auto;
}

.party-content .button {
	margin-bottom: 1.5rem;
	display: flex;
	align-items: center;
}

/* styling the food shop page for mobile */

.food-shop-banner img {
	height: 290px;
	object-fit: cover;
}

.covid19 {
	background-color: #b9519e;
	padding: 1rem 1rem 2rem 1rem;
	color: white;
	line-height: 1.6rem;
}

/* styling the covid 19 block for mobile */

.covid19 h2 {
	margin: 1rem 0rem;
	color: white;
	font-family: 'Merriweather', serif;
}

.covid19 em {
	color: white;
}

.covid19 .long-button a {
	background-color: #b9519e;
	color: white;
	border: 1px solid white;
	width: 400px;
	margin: 1rem 0rem 1rem 0rem;
}

.covid19 .long-button a:hover {
	animation-name: covidcolor;
    animation-duration: 0.5s;
    animation-delay: 0s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.food-shop-cards {
	margin-bottom: 2rem;
}

.food-shop-cards h2 {
	color: #b9519e;
}

.cards img {
	height: 225px;
	object-fit: cover;
	margin: 2rem 0rem 1rem 0rem;
}

.cards p {
	margin-top: 1rem;
}

.cards h2 {
	text-align: left;
}

/* styling the passover page for mobile */

.passover-banner img {
	height: 450px;
	object-fit: cover;
}

.passover-pdf {
	margin-bottom: 1.5rem;
}

.pdf iframe {
	height: 500px;
	width: 100%;
}

.our-office {
	margin-bottom: 1.5rem;
}

.our-office a {
	color: #050404;
}

.our-office a:hover { 
	text-decoration: none;
	color: #b9519e;
}

/* styling the gallery for mobile */

.gallery-h2 {
	font-size: 1.4rem;
	line-height: 1.5rem;
	margin-top: 0.7rem;
}

.gallery-intro {
	background-color: #050404;
	color: white;
	text-align: center;
	line-height: 2.5rem;
	padding: 1.75rem 1.75rem 0.5rem 1.75rem;
}

.galleries {
	background-color: #050404;
}

.gallery-button {
	padding: 2rem;
}

.gallery-button a {
	display: block;
	background-color: #b9519e;
	color: white;
    padding: 0.75rem;
	font-size: 18px;
	font-weight: bold;
    width: 250px;
	text-align: center;
	margin: auto;
	text-decoration: none;
}

.gallery-button a:hover {
	background-color: white;
	color: #b9519e;
}

.gallery-design {
	padding-bottom: 2rem;
}

/* styling the contact page for mobile */

.contact-info-start {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
}

.contact-info-start p {
	text-align: center;
}

.contact-info-start p:nth-child(1) {
	margin-bottom: 1rem;
}

.contact-info-start a {
	color: #050404;
}

.contact-info-start a:hover {
	color: #b9519e;	
	text-decoration: none;
}

.contact-info-table table {
	margin: auto;
	font-size: 1.2rem;
}

table td {
	padding: 0rem 0.5rem 0rem 0rem;
}

.contact-info-table p {
	font-style: italic;
	font-size: 1rem;
	text-align: center;
}

.contact-map {
	margin-bottom: 2rem;
}

.contact-map iframe {
	display: block;
	margin: auto;
}

.contact-photos img {
	height: 400px;
	width: 400px;
	object-fit: cover;
	display: block;
	border: 5px solid #b9519e;
	margin: 1rem auto;

}

/* animations */

@keyframes buttoncolor {
    0% {
		background-color: white;
		color: #b9519e;
    }

    100% {
		background-color: #b9519e;
		color: white;
    }
}

@keyframes davidcolor {
	0% {
		background-color: #050404;
		color: #b9519e;
	}

	100% {
		background-color: #b9519e;
		color: white;
	}
}

@keyframes covidcolor {
	0% {
		background-color: #b9519e;
		color: white;
	}

	100% {
		background-color: white;
		color: #b9519e;

	}
}

/* first media query for tablet view */

@media(min-width: 768px) {
	

	/* styling the carousels for tablet */

	#carouselExampleIndicators img {
		max-height: 450px;
		object-fit: cover;
	}

	#contact-carousel img {
		max-height: 450px;
		object-fit: cover;
	}

	img#fit {
		object-position: 50% 30%;
	}

	/* styling the home page for tablet */

	.home-banner-text {
		max-width: 500px;
	}

	.home-banner-image {
		max-width: 450px;
	}

	.home-section {
		width: 500px;
	}

	.home-section img {
		height: 400px;
		width: 500px;
	}

	.ten-to-ten {
		background-image: url(../images/img-home/10to10desktop.png);
		height: 200px;
	}

	/* styling the footer for tablet */

	.icons, .copyright {
		padding: 1rem 1.75rem 1rem 1.75rem;
	}

	.copyright p {
		align-items: center;
	}

	/* styling the catering page for tablet */

	.catering-content {
		max-width: 768px;
		margin: auto;
	}

	.catering-content img {
		max-width: 768px;
	}

	.catering-content h2 {
		text-align: left;
	}

	.catering-content .button {
		align-items: flex-start;
	}

	/* styling the party design page for tablet */

	.party-content {
		max-width: 768px;
		margin: auto;
	}

	.party-content img {
		max-width: 768px;
	}

	.party-content h2 {
		text-align: left;
	}

	/* stlying the heading block and common margins for tablet */

	.heading-block {
		padding: 2rem 4rem 2rem 4rem;
	}

	/* styling the food shop for tablet */

	.food-shop-banner img {
		height: 450px;
		object-fit: cover;
	}

	.food-shop-intro {
		max-width: 768px;
		margin: auto;
		padding: 0rem 0.5rem 1rem 0.5rem;
	}

	.covid19 {
		padding-top: 2.5rem;
	}

	.covid19 p, .covid19 h2, .covid19 .long-button {
		max-width: 768px;
		margin: auto;
		padding: 0rem 0.25rem 0rem 0.25rem;
	}

	.covid19 .long-button {
		padding-top: 1rem;
	}

	.covid19 .long-button a {
		margin-bottom: 0;
	}

	.covid19 h2 {
		padding-bottom: 1rem;
	}

	.food-shop-cards img {
		height: 325px;
	}

	.food-shop-cards {
		max-width: 768px;
		margin: auto;
		padding: 0rem 0.5rem 0rem 0.5rem;
	}

	/* styling passover for tablet */

	.passover-content {
		max-width: 768px;
		margin: auto;
	}

	.pdf iframe {
		height: 650px;
	}

	/* styling the gallery for tablet */

	#catering-carousel {
		max-width: 475px;
		margin: auto;
	}

	#design-carousel {
		max-width: 475px;
		margin: auto;
	}

	/* styling the contact page for tablet */

	.contact-info-table {
		padding-top: 1.5rem;
	}

	.contact-photos img {
		height: 300px;
		width: 300px;
	}

	.contact-photos {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		max-width: 675px;
		margin: auto;
	}

	.contact-map iframe {
		width: 400px;
	}
}

/* media query for desktop view */

@media(min-width: 992px) {
	
	.section {
		line-height: 1.75rem;
	}
	
	/* styling the header for desktop */

	#mynav {
		display: flex;
		flex-direction: column;
		padding-top: 0.5rem;
		padding-right: 2rem;
	}


	a.nav-link {
		font-size: 0.88rem;

	}

	a.telephone-nav-link {
		display: flex;
		flex-direction: row;
		align-items: center;
	}

	a.telephone-nav-link img {
		width: 20px;
		margin-right: 0.5rem;
	}

	.large-social {
		display: flex;
		flex-direction: row;
		align-self: flex-end;
		padding-bottom: 1.5rem;
	}

	.large-social p {
		font-size: 1rem;
		font-style: italic;
	}

	.large-social p:nth-child(2) {
		font-size: 1.15rem;
		font-weight: bold;
	}

	.large-social img {
		width: 40px;
		height: auto;
		margin-left: 0.75rem;
	}

	.large-social a:nth-child(3) {
		margin-right: 0.5rem;
	}

	.social-vaad-text {
		align-self: center;
		margin-left: 0.5rem;
	}
	

	/* styling the footer for desktop */

	footer {
		margin-top: 1.75rem;
	}

	.icons {
		display: grid;
		grid-template-columns: 0.55fr 0.8fr 1fr 0.3fr;
		padding: 1rem 3rem 1rem 3rem;
	}

	.icons a {
		font-size: 1.1rem;
	}

	.icons img {
		width: 35px;
	}

	.icons-social {
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
	}

	.icons-social img {
		width: 45px;
		align-self: flex-end;
		margin-right: 0;
		margin-left: 1rem;
	}

	.copyright a {
		display: none;
	}

	.copyright {
		text-align: center;
		justify-content: center;
	}

	.copyright p br {
		display: none;
	}


	/* styling the home page for desktop */

	/* .pink-stripe {
		display: block;
	} */

	.vaad-certificate {
		display: none;
	}

	.home-banner {
		display: flex;
		flex-direction: row;
		padding-bottom: 0px;
	}

	.home-banner-text {
		background-color: #050404;
		color: white;
		max-width: 600px;
	}

	.home-banner-text h2 em {
		color: white;
		font-weight: normal;
	}

	.home-banner-image {
		max-width: 490px;
		padding-bottom: 0px;
	}

	.home-banner a {
		background-color: #050404;
		
	}

	.home-banner a:hover {
		animation-name: davidcolor;
	}

	h1.big-david em {
		font-size: 3.5rem;
		color: white;
		font-weight: normal;
	}

	.home-section {
		width: 300px;
	}

	.home-section img {
		width: 300px;
		height: 300px;
	}

	.services-section {
		max-width: 1200px;
		margin: auto;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		
		
	}

	.ten-to-ten {
		background-image: url(../images/img-home/10to10desktop.png);
	}

	.testamonials {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		justify-items: center;
	}

	/* styling the catering page for desktop */

	.heading-block {
		max-width: 700px;
		width: 600px;
		padding: 2rem 2rem 2rem 2rem;
	}

	.catering-content {
		max-width: 1200px;
	}

	.catering-content h2 {
		text-align: left;
		margin-top: 0;
	}

	.catering-content .button {
		align-items: flex-start;
	}

	.weddings {
		display: grid;
		grid-template-columns: 1.3fr 1fr;
		grid-template-rows: 1fr;
		grid-gap: 1rem;
		margin-top: 2rem;
		margin-bottom: 3rem;
	}

	.weddings-content {
		grid-column: 1 / 2;
		grid-row: 1 / 2;
	}

	.weddings-image {
		grid-column: 2 / 3;
	}

	.weddings-image img {
		height: 450px;
		object-fit: cover;
	}

	.mitzvah {
		display: grid;
		grid-template-columns: 1fr 1.2fr;
		grid-template-rows: 1fr;
		grid-gap: 1rem;
		margin-bottom: 4rem;
	}

	.corporate {
		display: grid;
		grid-template-columns: 1.3fr 1fr;
		grid-template-rows: 1fr;
		grid-gap: 1rem;
		margin-top: 2rem;
		margin-bottom: 4rem;
	}

	.corporate-content {
		grid-column: 1 / 2;
		grid-row: 1 / 2;
	}

	.corporate-image {
		grid-column: 2 / 3;
	}

	.life {
		display: grid;
		grid-template-columns: 1fr 1.2fr;
		grid-template-rows: 1fr;
		grid-gap: 1rem;
		margin-top: 2rem;
	}

	.catering-content .button a {
		margin: 0;
	}

	/* styling the party design page for desktop */

	.party-content {
		max-width: 1200px;
	}

	.party-content h2 {
		text-align: left;
		margin-top: 0;
	}

	.wedding-party {
		margin-top: 2rem;
		display: grid;
		grid-template-columns: 1.2fr 1fr;
		grid-template-rows: 1fr;
		grid-gap: 1rem;
		margin-bottom: 3rem;
	}

	.wedding-party-image {
		grid-column: 2 / 3;
	}

	.wedding-party-content {
		grid-column: 1 / 2;
		grid-row: 1 / 2;
	}

	.bnei-mitzvah {
		display: grid;
		grid-template-columns: 1fr 1.2fr;
		grid-template-rows: 1fr;
		grid-gap: 1rem;
		margin-bottom: 3rem;
	}

	.bnei-mitzvah img {
		margin-left: 0;
	}

	.corporate-party {
		display: grid;
		grid-template-columns: 1.2fr 1fr;
		grid-template-rows: 1fr;
		grid-gap: 1rem;
	}

	.corporate-party-content {
		grid-column: 1 / 2;
		grid-row: 1 / 2;
	}

	.party-content .button a {
		margin: 0;
	}

	/* styling the food shop for desktop */

	.food-shop-intro {
		max-width: 1200px;
		margin: 0.5rem;
	}

	.covid19 p, .covid19 h2, .covid19 .long-button {
		max-width: 1200px;
	}

	.food-shop-content {
		max-width: 1200px;
		margin: auto;
	}

	.food-shop-cards {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(2, 1fr);
		grid-gap: 0rem 2rem;
		max-width: 1200px;
		margin: 0.5rem;
	}

	/* styling the passover page for desktop */

	.passover-content {
		max-width: 1200px;
	}

	.passover-content .long-button {
		padding: 0.35rem 0rem 0.35rem 0rem;
	}

	.passover-pdf .long-button {
		padding: 0.6rem 0rem 0rem 0rem;
	}

	.important-info {
		display: flex;
		flex-direction: row;
	}

	.our-office {
		margin-left: 4rem;
	}

	.passover-pdf {
		max-width: 700px;
		margin: auto;
	}

	.pdf iframe {
		height: 800px;
	}


	/* styling the gallery for desktop */

	.gallery-intro h1 {
		padding-top: 5rem;
	}

	.galleries {
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		padding-bottom: 4rem;
		margin-bottom: -2rem;
	}

	.gallery-icons {
		margin-top: -2rem;
	}

	/* styling the contact page for desktop */

	.contact-main {
		max-width: 1200px;
		margin: auto;
	}

	.contact-info {
		margin-top: 1.5rem;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: 1fr 2fr;
	}

	.contact-info-start p {
		text-align: left;
	}

	.contact-info-table {
		grid-column: 1 / 2;
		grid-row: 2 / 3;
	}

	.contact-map {
		grid-row: 1 / 3;
		grid-column: 2 / 3;
	}

	.contact-photos {
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: 1fr;
		max-width: 1200px;
		margin: auto;
	}

	.contact-photos img {
		width: 230px;
		height: 230px;
	}
}

/* media query for the nav links at 1050px */

@media(min-width: 1095px) {
	a.nav-link {
		font-size: 1.02rem;
	}

	.icons a {
		font-size: 1.3rem;
	}
}

/* media query for the nav links at 1100px */

@media(min-width: 1155px) {
	a.nav-link {
		font-size: 1.1rem;
	}

	/* adjusting the home page services for larger viewpoints */

	.home-section {
		width: 350px;
	}

	.home-section img {
		width: 350px;
		height: 350px;
	}
}


/* media query for large desktop view just for the nav links */

@media(min-width: 1300px) {
	a.nav-link {
		font-size: 1.3rem;
		padding-left: 1.5rem;
	}

	#mynav {
		padding-right: 4rem;
	}

	/* adjusting the home page services for larger viewpoints */

	.home-section {
		width: 390px;
	}

	.home-section img {
		width: 390px;
		height: 390px;
	}

	.services-section {
		max-width: 1400px;
	}
}

/* media query for ultra wide */

@media(min-width: 1500px) {
	
	.home-section {
		width: 425px;
	}

	.home-section img {
		width: 425px;
		height: 425px;
	}

	.services-section {
		max-width: 1800px;
	}

	.navbar-expand-lg .navbar-nav .nav-link {
		padding: 0rem 0rem 0rem 1.2rem;
	}
}