@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
*,*::after,*::before {
	box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* css reset ends, begins setting up basic styling for h1s etc*/
body {
    font-family: 'raleway', Arial, Helvetica, sans-serif;
    background-color: #ffffff;
    line-height: 2.2rem;
}
img {
    width: 100%;
    display: block;
}

h1 {
    font-size: 3rem;
    font-weight: bold;
    line-height: 3.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.25rem;
}

/* styling the nav for mobile */
header {
    background-color: #3c3b3a;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
}

.logo img {
    height: 120px;
    width: auto;
}

header nav ul li {
    list-style-type: none;
}

header nav ul li a {
    color: #f2f2f2;
}

header nav ul li a:link,
header nav ul li a:visited {
    text-decoration: none;
}

header nav ul li a:hover,
header nav ul li a:active {
    text-decoration: none;
}

header nav ul li a.active {
    font-weight: bold;
    font-size: 1.1rem;
}

/* styling the home icons*/
.icons {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
}

.icons figure {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.icons figure img {
    width: 50px;
    height: auto;
}

.icons figcaption {
    color: #26a682;
}

/*styling the get started button*/
.banner-text button{
    background-color: #26a682;
    color: #f2f2f2;
    font-size: 2rem;
    font-weight: 800;
    padding: 0.5rem 4rem 0.5rem 4rem;
    margin: 1rem auto;
    margin-bottom: 2rem;
    border-radius: 30px;
    box-shadow: 0px 8px 10px rgb(177, 177, 177);
    border: none;
}
.get-started-button {
    display: flex;
    flex-direction: row-reverse;
}

/*sizing the girl studying svg*/
.banner-image img {
    width: 80vw;
    height: auto;
}
.home-banner, .content, .bio-content, .entertainment-content {
    margin: 1.5rem 1.5rem auto;
}

.scroll-button {
    display: none;
}
/*styling the discover algonquin section on index for mobile*/
.main-text .content h2 {
    font-weight: bold;
    font-style: italic;
}

.main-text .content h3 {
    color: #26a682;
}
.discover-button {
    display: flex;
    flex-direction: row-reverse;
}
.discover-button button {
    display: flex;
    flex-direction: row;
    align-self: flex-end;
    background-color: #26a682;
    color: #f2f2f2;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 0.7rem 2rem 0.7rem 2rem;
    margin: 1rem;
    border-radius: 30px;
    box-shadow: 0px 8px 10px rgb(177, 177, 177);
    border: none;
}

/*stlyling the bio section on index for mobile*/

.bio {
    background-color: #3c3b3a;
    color: #f2f2f2;
    padding-top: 1.5rem;
}

.bio img {
    max-width: 200px;
    height: auto;
    border-radius: 100%;
    border: 5px solid white;
    margin: auto;
}

.bio h3 {
    font-weight: bolder;
    text-align: center;
}

/* styling the home page discover entertainment section */
.entertainment-content h2 {
    font-weight: bold;
    font-style: italic;
}

.entertainment-content h3 {
    color: #26a682;
}

.entertainment-button {
    display: flex;
    flex-direction: row-reverse;
}

.entertainment-button button {
    background-color: #26a682;
    color: #f2f2f2;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 0.7rem 2rem 0.7rem 2rem;
    margin: 1rem;
    margin-bottom: 2rem;
    border-radius: 30px;
    box-shadow: 0px 8px 10px rgb(177, 177, 177);
    border: none;
}

/* styling the footer for mobile */
footer {
    background-color: #3c3b3a;
    color: #f2f2f2;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 1fr 1fr 0.5fr;
}

footer p {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: flex;
    justify-content: center;
}
/* styling the social buttons, setting their positions in the footer */
.social {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    grid-column: 2 / 3;
    grid-row: 3 / 4;

}
/* styling the back to top button */
.top-button {
    font-size: 0.65rem;
    grid-column: 3 / 4;
    grid-row: 2 / 4;
    display: flex;
    flex-direction: row-reverse;
    margin-right: 1rem;
}
.top-button img {
    display: flex;
    align-self: center;
}

.top-button a {
    display: flex;
    flex-direction: column;
    align-self: center;
    height: auto;
    text-decoration: none;
}

.top-button a:link,
.top-button a:visited,
.top-button a:hover,
.top-button a:active {
    color: #f2f2f2;
}
.social img {
    max-width: 27px;
    height: auto;
}

.top-button img {
    max-width: 30px;
    height: auto;
}

/* styling the about page for mobile */
.about-intro, .about-main, .sponsors {
    margin: 1.5rem 1.5rem auto;
}

.about-intro img {
    max-width: 90vw;
}
/* setting up the about banner and services banner as a background images so that the text can easily float in the center with flexbox */
.about-banner {
    min-height: 200px;
    width: auto;
    background-image: url(../images/about-375_x_200.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-banner h1 {
    color: #f2f2f2;
}

.about-main h2 {
    font-weight: bold;
    font-style: italic;
}

.services-banner {
    min-height: 200px;
    width: auto;
    background-image: url(../images/services-375_x_200.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.services-banner h1 {
    color: #f2f2f2;
}
/* setting the restaurant picture to not display at mobile */
.restaurant picture {
    display: none;
}

.restaurant {
    padding: 1rem;
    padding-bottom: 1rem;
    background-color: #ffffff;
}

.restaurant h2, .bowling h2 {
    font-weight: bold;
    margin: 0.75rem 0 0.75rem 0;
}

.restaurant h3, .bowling h3 {
    color: #26a682;
}

.bowling {
    background-color: #f2f2f2;
    padding: 1rem;
}

.bowling picture {
    display: none;
}

/* styling the subscribe section for mobile */
.subscribe {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #3c3b3a;
    color: #f2f2f2;
}

.subscribe-button button {
    background-color: #26a682;
    color: #f2f2f2;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 0.3rem 1.5rem 0.3rem 1.5rem;
    margin: 1rem;
    margin-bottom: 2rem;
    border-radius: 30px;
    border: none;
}
/* styling the fitness and rock-climbing sections for mobile */
.fitness, .rock-climbing {
    padding: 1rem;
}

.fitness picture {
    display: none;
}

.fitness .wrapper h2 {
    font-weight: bold;
}

.fitness .wrapper h3 {
    color: #26a682;
}

.rock-climbing {
    background-color: #f2f2f2;
}

.rock-climbing picture {
    display: none;
}

.rock-climbing h2 {
    font-weight: bold;
}

.rock-climbing h3 {
    color: #26a682;
}

.sponsors {
    text-align: center;
}

.sponsors h1 {
    font-size: 4rem;
    padding-bottom: 2rem;
    line-height: 4rem
}

.sponsors img {
    margin: auto;
    max-width: 200px;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

/* styling the contact page for mobile */
main {
    margin: 1.5rem 1.5rem auto;
}

.contact-form {
    background-color: #26a682;
    border-radius: 15px;
    box-shadow: 4px 4px 5px #77777780;
    padding: 1rem;
    margin-top: 1rem;
    margin-bottom: 3rem;
}

.contact-form h2 {
    color: #f2f2f2;
    font-weight: bold;
}

.contact-form label {
    color: #f2f2f2;
}

.contact-form button {
    background-color: #3c3b3a;
    color: #f2f2f2;
    font-size: 1.75rem;
    font-weight: 700;
    padding: 0.3rem 2rem 0.3rem 2rem;
    margin: 1rem auto;
    margin-bottom: 1rem;
    border-radius: 30px;
    box-shadow: 0px 2px 8px rgb(0, 0, 0);
    border: none;
    width: 100%;
}

form fieldset input {
    width: 100%;
    border-radius: 30px;
    padding: 0.5rem;
    border: none;
}

form fieldset input#message {
    padding-bottom: 5rem;
    border-radius: 10px;
}

.contact-location h2 {
    font-weight: bold;
    margin-bottom: 0.75rem;
}

.contact-map iframe {
    width: 100%;
    margin-top: 2rem;
}

/* first media query for tablet view */
@media(min-width: 768px) {
    /* styling the nav for tablet */
    header {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }


    header nav ul {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        margin-right: 4rem;
    }

    header nav ul li {
        margin-left: 1rem;
    }

    .logo {
        margin-left: 4rem;
    }

    /* styling the home page for tablet */
    .banner-text h1 {
        font-size: 4rem;
        margin: 3rem 0 1.5rem 0;
    }

    .banner-text p {
        margin-bottom: 1.5rem;
    }


    .icons {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr;
    }

    .scroll-button {
        display: block;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 2.5rem;
    }

    .scroll-button a {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-decoration: none;
        color: #3c3b3a;
    }

    .scroll-button img {
        width: 26px;
        transform: rotate(180deg);
    }

    .bio {
        display: grid;
        grid-template-columns: 1fr 1.5fr;
    }

    .bio-description {
        grid-column: 1 / 2;
    }

    .bio-content {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }

    .banner-image img {
        width: 50vw;
        height: auto;
        margin: auto;
    }

    .home-banner, .content, .bio-content, .entertainment-content {
        margin: 2.5rem 2.5rem auto;
    }
    /* about page for tablet */
    .about-intro, .about-main, .sponsors {
        margin: 2.5rem 2.5rem auto;
    }

    .about-intro h1 {
        font-size: 4rem;
        margin: 3rem 0 1.5rem 0;
        line-height: 5rem;
        padding-right: 2rem;
    }

    .about-intro img {
        max-width: 70vw;
        margin: auto;
        margin-bottom: 1rem;
        margin-top: 1.5rem;
    }
    /* changing the banner image for sizing */
    .about-banner {
        background-image: url(../images/about-768_x_200.jpg);
    }

    .about-main h2 {
        margin-top: 1.5rem;
        margin-bottom: 1.2rem;
    }

    .about-main {
        margin-bottom: 1.5rem;
    }
    /* styling the services section for tablet, moving the images and text etc. */
    .services-banner {
        background-image: url(../images/services-768_x_200.jpg);
    }
    
    .services-text picture {
        display: block;
    }

    .services-text picture img {
        max-width: 218px;
    }

    .restaurant {
        padding: 3rem;
        display: grid;
        grid-template-columns: 1fr 2fr;
    }

    .bowling {
        display: grid;
        grid-template-columns: 2fr 1fr;
        padding: 3rem;
    }

    .bowling picture {
        grid-row: 1 / 2;
        grid-column: 2 / 3;
    }
    /* styling the subscribe button for tablet */
    .subscribe {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }

    .subscribe p {
        font-size: 1.3rem;
        margin-left: 2rem;
    }

    .subscribe-button button {
        margin: 0.75rem;
        margin-left: 9rem;
    }

    /* finished styling the subscribe for tablet */


    .fitness picture, .rock-climbing picture {
       display: block;
       max-width: 218px;
    }

    .fitness {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding: 3rem;
    }

    .fitness picture {
        grid-column: 1 / 2;
    }

    .fitness .wrapper {
        grid-column: 2 / 4;
    }

    .rock-climbing {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding: 3rem;
    }

    .rock-climbing picture {
        grid-column: 3 / 4;
    }

    .rock-climbing-wrapper {
        grid-column: 1 / 3;
    }

/* contact page styling for tablet */
    main {
        margin: 2.5rem 2.5rem auto;
    }
    /* styling the contact intro section for tablet */
    .contact-intro h1 {
        line-height: 5rem;
        font-size: 4rem;
        margin: 3rem 0 1.5rem 0;
    }

    .contact-intro p {
        margin-bottom: 0.5rem;
    }

    .contact-intro img {
        max-width: 452px;
        margin: auto;
    }
    /* styling the contact form for tablet */

    .contact-form form {
        padding: 1.2rem;
    }

    .contact-form h2 {
        font-size: 2.75rem;
        margin-bottom: 1rem;
    }

    .submit-button {
        width: 210px;
    }

    .contact-map iframe {
        height: 500px;
    }

    #form-contact {
        display: grid;

    }
}
/* media query for desktop view */

@media(min-width: 1080px) {
    /* styling the home page for desktop */
    .home-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .banner-text {
        grid-column: 1 / 2;
        padding-right: 3rem;
    }

    .banner-text p {
        margin: 5rem 0 5rem 0;
    }

    .banner-image {
        grid-column: 2 / 3;
    }
    /* break */

    .discover-algonquin {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .discover-algonquin picture {
        grid-column: 1 / 2;
        max-width: 813px;
    }

    .discover-algonquin .content {
        grid-column: 2 / 3;
        margin-top: 0;
        margin-bottom: 3rem;
    }

    /* styling bio content for desktop */

    .bio {
        grid-template-columns: 1fr 1fr 3fr;
        padding-bottom: 1.5rem;
    }

    .bio-image {
        grid-column: 1 / 2;
        align-self: center;
    } 

    .bio-description {
        grid-column: 2 / 3;
        align-self: center;
    }

    .bio-content {
        grid-column: 3 / 4;
        align-self: center;
    }

    /* break */

    .discover-entertainment {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .discover-entertainment picture {
        grid-column: 2 / 3;
        max-width: 813px;
    }

    .entertainment-content {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        margin-top: 0;
        margin-bottom: 3rem;
    }

    /* styling the about page for desktop */
    .about-intro {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-bottom: 2rem;
    }
    /* finished the about intro */
    .about-banner {
        background-image: url(../images/about-1920_x_200.jpg);
    }

    .about-main {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 4rem;
        margin: 8rem 4rem 8rem 4rem;
    }

    .who {
        grid-column: 1 / 2;
    }

    .what {
        grid-column: 2 / 3;
    }

    .where {
        grid-column: 3 / 4;
    }
    /* finished the about who what where */

    .services-banner {
        background-image: url(../images/services-1920_x_200.jpg);
    }

    .restaurant {
        grid-template-columns: 1fr 1fr;
    }

    .bowling {
        grid-template-columns: 1fr 1fr;
    }

    .fitness {
        grid-template-columns: 1fr 1fr;
    }

    .rock-climbing {
        grid-template-columns: 1fr 1fr;
    }

    /* styling the sponsors section for desktop */
    .sponsors {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr 1fr;
    }

    .sponsors h1 {
        grid-column: 2 / 4;
        grid-row: 1 / 2;
    }

    .sponsors img {
        flex-direction: row;
    }


}