@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* *,*::after,*::before {
	box-sizing: border-box;
} */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* css reset ends, begins setting up basic styling for h1s etc*/
body {
    font-family: 'raleway', Arial, Helvetica, sans-serif;
    background-color: #f2f2f2;
    line-height: 2.2rem;
}
img {
    width: 100%;
    display: block;
}   

h1 {
    font-size: 3rem;
    font-weight: bold;
    line-height: 3.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.25rem;
}

main {
    margin: 2rem 2rem auto;
}
/* styling the nav for mobile */
header {
    background-color: #3c3b3a;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
}

.logo img {
    height: 120px;
    width: auto;
}

header nav ul li {
    list-style-type: none;
}

header nav ul li a {
    color: #f2f2f2;
}

header nav ul li a:link,
header nav ul li a:visited {
    text-decoration: none;
}

header nav ul li a:hover,
header nav ul li a:active {
    text-decoration: none;
}

header nav ul li a.active {
    font-weight: bold;
    font-size: 1.1rem;
}

/* styling the home icons*/
.icons {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
}

.icons figure {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.icons figure img {
    width: 50px;
    height: auto;
}

.icons figcaption {
    color: #26a682;
}

/*styling the get started button*/
.banner-text button{
    background-color: #26a682;
    color: #f2f2f2;
    font-size: 2rem;
    font-weight: 800;
    padding: 0.5rem 3rem 0.5rem 3rem;
    margin: 1rem auto;
    border-radius: 30px;
    box-shadow: 0px 8px 10px rgb(177, 177, 177);
    border: none;
}

/*sizing the girl studying svg*/
.banner-image img {
    width: 80vw;
    height: auto;
}
.home-banner, .content, .bio-content, .entertainment-content {
    margin: 1.5rem 1.5rem auto;
}

.scroll-button {
    display: none;
}
/*styling the discover algonquin section on index for mobile*/
.main-text .content h2 {
    font-weight: bold;
    font-style: italic;
}

.main-text .content h3 {
    color: #26a682;
}

.main-text .content button {
    display: flex;
    flex-direction: row;
    align-self: flex-end;
    background-color: #26a682;
    color: #f2f2f2;
    font-size: 1.5rem;
    font-weight: 550;
    padding: 0.7rem 2rem 0.7rem 2rem;
    margin: 1rem;
    border-radius: 30px;
    box-shadow: 0px 8px 10px rgb(177, 177, 177);
    border: none;
}

/*stlyling the bio section on index for mobile*/

.bio {
    background-color: #3c3b3a;
    color: #f2f2f2;
    padding-top: 1.5rem;
}

.bio img {
    max-width: 200px;
    height: auto;
    clip-path: circle(50% at center);
    border: 5px white;
    margin: auto;
}

.bio-content h3 {
    font-weight: bolder;
    text-align: center;
}

/* styling the home page discover entertainment section */
.entertainment-content h2 {
    font-weight: bold;
    font-style: italic;
}

.entertainment-content h3 {
    color: #26a682; 
}

.entertainment-content button {
    background-color: #26a682;
    color: #f2f2f2;
    font-size: 1.5rem;
    font-weight: 550;
    padding: 0.7rem 2rem 0.7rem 2rem;
    margin: 1rem;
    border-radius: 30px;
    box-shadow: 0px 8px 10px rgb(177, 177, 177);
    border: none;
}

/* styling the footer for mobile */
footer {
    background-color: #3c3b3a;
    color: #f2f2f2;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 1fr 1fr 0.5fr;
}

footer p {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: flex;
    justify-content: center;
}

.social {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    grid-column: 2 / 3;
    grid-row: 3 / 4;

}

.top-button {
    grid-column: 3 / 4;
    grid-row: 2 / 4;
    display: flex;
    flex-direction: row-reverse;
    align-self: center;
}
.top-button img {
    align-self: center;
}
.social img {
    max-width: 27px;
    height: auto;
}

.top-button img {
    max-width: 30px;
    height: auto;
}

/* styling the about page for mobile */
.about-intro img {
    max-width: 90vw;
}

.about-banner figure picture img {
    position: absolute;
}

.about-banner figcaption {
    font-size: 3rem;
    font-weight: bold;
    position: relative;
    left: 30%;
    bottom: 10%;
}

.sponsors img {
    margin: auto;
    max-width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
/* styling the contact page for mobile */
.contact-form {
    background-color: #26a682;
    border-radius: 15px;
}
.contact-form h2 {
    color: #f2f2f2;
}