@import url('https://fonts.googleapis.com/css?family=Montserrat|Sacramento&display=swap');
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
*,*::after,*::before {
	box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* css reset ends, begins setting up basic styling for h1s etc*/
body {
    font-family: 'raleway', Arial, Helvetica, sans-serif;
    background-color: #ffffff;
    line-height: 2.2rem;
}
img {
    width: 100%;
    display: block;
}

h1 {
    font-size: 3rem;
    font-weight: bold;
    line-height: 3.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.25rem;
}

/* end of css reset. I'll be using a combination of Bootstrap and CSS to style this site */
#navbar.navbar {
    background-color: #4B5358;
    font-family: 'Sacramento', cursive;
    font-size: 1.3rem;
}

.navbar a {
    margin-left: 1rem;
}